@model Login
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form asp-controller="User" asp-action="logIn" method="post">
                <div>
                <label asp-for="LoginEmail"></label>
                <input type="text" asp-for="LoginEmail" id="">
                <span asp-validation-for="LoginEmail" ></span>
                </div>
                <div>
                <label asp-for="LoginPassword"></label>
                <input asp-for="LoginPassword" id="">
                <span asp-validation-for="LoginPassword" ></span>
                </div>
                <button>login</button>

    </form>
</body>
</html>

